body {
    background-color: lightskyblue;
    font-family: verdana;
    
}

img {
    width: 50px;
}

#menu_wrapper
{
    display: inline-flex;
    margin-bottom: 15px;
}
#checkBoxs {
    position: relative;
    width: 150px;
    /*margin-left: 40%;*/
    text-align: center;
    height: auto;
    background-color: burlywood;
    border-radius: 1.5em;
    padding: 10px;
    
    
    
}

#searchArea {
    margin-left: 15px;
    position: relative;
    width: 150px;
    background-color: burlywood;
    width: 350px;
    height: 100px;
    /*margin-left: 40%;*/
    text-align: center;
    border-radius: 1.5em;
    padding: 10px;
    
}

#searchResults {
    width: 98%;
    display: inline-table;
    border-radius: 2.5em;
    height: 120px;
    border: 3px solid white;
    background-color: lightyellow;
    padding: 10px;
}

#searchedItem {
    background-color: lightblue;
    border: 3px solid white;
    border-radius: 2.5em;
    font-size: 0.5rem;
    width: 150px;
    padding: 4px;
    height: auto;
    padding: 5px;
    float: left;
    margin: 5px;
}

#hamburger {
    background-color: lightsalmon;
    font-size: 0.6rem;
    border-radius: 2.5em;
    padding: 4px;
    border: 3px solid white;
    margin: 30px auto;
    width: 200px;
    text-align: center;
    height: auto;
}

#sub {
    background-color: lightgreen;
    font-size: 0.6rem;
    border-radius: 2.5em;
    padding: 4px;
    border: 3px solid white;
    margin: 30px auto;
    width: 200px;
    text-align: center;
    height: auto;
}

#pizza {
    background-color: lightblue;
    font-size: 0.6rem;
    border-radius: 2.5em;
    padding: 4px;
    border: 3px solid white;
    margin: 30px auto;
    width: 200px;
    text-align: center;
    height: auto;
}

#drink {
    background-color: magenta;
    font-size: 0.6rem;
    border-radius: 2.5em;
    padding: 4px;
    border: 3px solid white;
    margin: 30px auto;
    width: 200px;
    text-align: center;
    height: auto;
}

#foodProducts {
    width: 50%;
}

#hamBurgersDiv {
    width: 25%;
    float: left;
}

#subsDiv {
    width: 25%;
    float: left;
}

#pizzasDiv {
    width: 25%;
    float: left;
}

#drinksDiv {
    width: 25%;
    float: left;
}

.hidden {
    display: none;
}
