body {
    background-color: lightskyblue;
}

img {
    width: 50px;
}
#Menu {
    
}
#searchArea
{
    background-color: burlywood;
    width: 300px;
}
#checkBoxs
{
    width: 300px;
    background-color: burlywood;
}
#hamburger
{
    background-color: lightsalmon;
    border-radius: 2.5em;
    padding: 15px;
    border: 3px solid white;
    margin: 30px auto;
    width: 90%;
    text-align: center;
    height: 240px;
   
}
#sub
{
    background-color: lightgreen;
      border-radius: 2.5em;
    padding: 15px;
    border: 3px solid white;
    margin: 30px auto;
    width: 90%;
    text-align: center;
    height: 240px;
}
#pizza
{
    background-color: lightblue;
      border-radius: 2.5em;
    padding: 15px;
    border: 3px solid white;
    margin: 30px auto;
    width: 90%;
    text-align: center;
    height: 240px;
}
#drink
{
    background-color: magenta;
      border-radius: 2.5em;
    padding: 15px;
    border: 3px solid white;
    margin: 30px auto;
    width: 90%;
    text-align: center;
    height: 240px;
}
#hamBurgersDiv {
    
    width: 25%;
    float: left;
}

#subsDiv {
    width: 25%;
    float: left;

}
#pizzasDiv {
    
    width: 25%;
    float: left;

}
#drinksDiv {
    width: 25%;
    float: left;
}

.hidden {
    display: none;
}